IonTextArea{
    --pading-end: 100%;
}

.opciones{
    justify-content: space-around;
   
}

.icono-menu{
    margin-left: auto;
    margin-right: auto;

}

img{
    height: 5em;
    width: 5em;
}

.link-dibujo{
    text-decoration: none;

}

.contenido{
    height: 100%;
}

.menu-opciones{
    position: fixed;
    bottom: 0; /* or whatever position is desired */
      left: 0;
      right: 0;
    z-index: 1000;
      /* center all inline content */
      text-align: center;
}